<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>		
		<listener class-name="com.vcentry.lab.testBase.ListenerTest"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.Vcentry.Lab.TestCases.LoginTest" />
			<class name="com.Vcentry.Lab.TestCases.AddNewUserTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
